// colors
$color-dark: #7e9d26;
$color-light: #c9cd44;
$color-other: #EEA;
// #{$light}: --light;
$glow: 100px;
// --light: #{$light};

// dimensions
$wrapper-width: 1000px;
$burger-width: 45px;
$burger-height: 35px;


// fonts
$font-kurale: 'Kurale';
$font-raleway: 'Raleway';
$font-arch: 'Architects Daughter',
cursive;
$font-metal: 'Metal Mania',
cursive;